<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one">
        <div class="container">
            
            <img src="~/images/ganesh.png" alt="" /><br/>

            <p>
                Milestones Achieved
                In the late 1970′s through the late 1980′s, as the Indian Immigrant population in the Greater Jacksonville area grew, there was an increasing need for a community place to hold religious and cultural functions. This spawned a desire to have a place to congregate for Fellowship and Worship.

            <p>
                29 August, 1991
                First Congregation held at JCA.
                Congregation was held every Sunday at JCA until the current Orange Park Temple became functional.
            </p>

            <p>9 September, 1994
                Orange Park Temple Inauguration.
            28 Families by their generous donations made this possible and become the Founding Members /Life Members of the Society.<p>
            </p>
        </div>
        
        <footer>
            <a href="#Deities" class="button scrolly">About our Deities</a>
        </footer>

    </section>

    <!-- Portfolio -->
    <section id="Deities" class="two">
        <div class="container">

            <header>
                <h2>Deities</h2>
            </header>

            <p>
                <h2><strong>MahaGanesh</strong><br /></h2>
                Maha Ganesh represents the energy of Lord Siva and Goddess Parvathi (Uma). Because of a  mythological incident, the normal head of Ganesha had to be replaced with that of an elephant. The elephant-headed Ganesha looks like OM, the pranava mantra, representing the quintessence of the Vedas (Hindu scriptures), indicating power and wisdom.
            </p>

            <p>
                <h2><strong>Lord Venkateswar</strong><br /></h2>
            Lord Venkateswara,popularly known as Balaji, is the presiding deity of the Tirumala Hills, in AndhraPradesh,India. He is one of the manifestations of Lord Vishnu. He revealed Himself and settled at that place in deference to the prayers of Sage Narayana, who did rigorous penance. The sage requested Lord Vishnu to settle there showering his eternal grace on the human folk, who were very much depressed and who were unable to follow the rigorous yoga practices to realize the God.
            </p>

            <p>
                <h2><strong>Siva Lingam</strong><br /></h2>
                Shiva is seen as the Supreme God and has five important works: creator, preserver, destroyer, concealer, and revealer (to bless). Shiva is usually worshipped in the abstract form of Shiva linga. He is also the father of the deities Ganesha, Murugan (Kartikeya), and Ayyappan (Dharma Sastha).
            </p>
            
            <footer>
                <a href="#History" class="button scrolly">Our History</a>
            </footer>
        </div>
    </section>

    <!-- About Me -->
    <section id="History" class="three">
        <div class="container">

            <table class="hsnef" width="100%" border="0">
                <thead>
                    <tr>
                        <td width="30%">Date</td>
                        <td>Event</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>May 6, 1983</td>
                        <td>First letter sent to community. Click <a href="/images/history/FirstLetterSent.pdf" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,');return false;">here</a> to read it.</td>
                    </tr>
                    <tr>
                        <td>September 2, 1989</td>
                        <td>First organizational meeting to form a Society to build a Temple.</td>
                    </tr>
                    <tr>
                        <td>October 27, 1989</td>
                        <td>Hindu Society of North East Florida (HSNEF) incorporated</td>
                    </tr>
                    <tr>
                        <td>August 22, 1991</td>
                        <td>Society accorded tax exempt charitable organization status by the IRS</td>
                    </tr>
                    <tr>
                        <td>August 29, 1991</td>
                        <td>First congregation held at the Jewish Community Alliance</td>
                    </tr>
                    <tr>
                        <td>May 1, 1994</td>
                        <td>Park Street,Orange Park property purchased</td>
                    </tr>
                    <tr>
                        <td>September 9, 1994</td>
                        <td>Inauguration of Temple</td>
                    </tr>
                    <tr>
                        <td>October 1996</td>
                        <td>Constitution and Bylaws adopted</td>
                    </tr>
                    <tr>
                        <td>January 1, 1997</td>
                        <td>First elected Board &amp;amp; Executive Committee take office</td>
                    </tr>
                    <tr>
                        <td>April 4, 1998</td>
                        <td>Temple gets a full-time priest</td>
                    </tr>
                    <tr>
                        <td>April 30, 1999</td>
                        <td>Rath yatra to welcome Lord Ganesha</td>
                    </tr>
                    <tr>
                        <td>September 12, 1999</td>
                        <td>Lord Ganesha sthapana</td>
                    </tr>
                    <tr>
                        <td>September 16, 1999</td>
                        <td>10th Anniversary celebration of the Formation of HSNEFL</td>
                    </tr>
                    <tr>
                        <td>May 14, 2000</td>
                        <td>Utsav murthys installed</td>
                    </tr>
                    <tr>
                        <td>October 15, 2002</td>
                        <td>Greenland property purchased.</td>
                    </tr>
                    <tr>
                        <td>October 25, 2003</td>
                        <td>Shilanyas ceremony at Greenland property</td>
                    </tr>
                    <tr>
                        <td>March 27, 2007</td>
                        <td>Greenland Temple inauguration</td>
                    </tr>
                    <tr>
                        <td>January 1, 2010</td>
                        <td>First Executive-Board and Advisory Council take office</td>
                    </tr>
                    <tr>
                        <td>March 24, 2011</td>
                        <td>Adjacent property purchased for Temple expansion</td>
                    </tr>
                </tbody>
            </table>
            
            <footer>
                <a href="#ECAC" class="button scrolly">Board Members</a>
            </footer>

        </div>
    </section>

    <!-- Contact -->
    <section id="ECAC" class="four">
        <div class="container">

            <table class="hsnef" width="100%" border="0">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Phone Number</td>
                        <td>E-Mail</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Visweshwar Nayar (Chair)</td>
                        <td><span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>
                            <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy96617 = 'ch&#97;&#105;r' + '&#64;';
 addy96617 = addy96617 + 'hsn&#101;f' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy96617 + '\'>');
 document.write(addy96617);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:chair@hsnef.org">chair@hsnef.org</a>
                            <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                            </script><span style="display: none;">
                                This email address is being protected from spambots. You need JavaScript enabled to view it.
                                <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                </script>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jayant Mishra (Vice-Chair)</td>
                        <td><span id="gc-number-1" class="gc-cs-link" title="Call with Google Voice">(904) 651-8072</span></td>
                        <td>
                            <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy61013 = 'vc' + '&#64;';
 addy61013 = addy61013 + 'hsn&#101;f' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy61013 + '\'>');
 document.write(addy61013);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:vc@hsnef.org">vc@hsnef.org</a>
                            <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                            </script><span style="display: none;">
                                This email address is being protected from spambots. You need JavaScript enabled to view it.
                                <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                </script>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Surendra Agarwal (Treasurer)</td>
                        <td><span id="gc-number-2" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>
                            <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy42721 = 'tr&#101;&#97;s&#117;r&#101;r' + '&#64;';
 addy42721 = addy42721 + 'hsn&#101;f' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy42721 + '\'>');
 document.write(addy42721);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:treasurer@hsnef.org">treasurer@hsnef.org</a>
                            <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                            </script><span style="display: none;">
                                This email address is being protected from spambots. You need JavaScript enabled to view it.
                                <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                </script>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Krishna Venkatarama (Secretary)</td>
                        <td><span id="gc-number-3" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>
                            <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy62424 = 's&#101;cr&#101;t&#97;ry' + '&#64;';
 addy62424 = addy62424 + 'hsn&#101;f' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy62424 + '\'>');
 document.write(addy62424);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:secretary@hsnef.org">secretary@hsnef.org</a>
                            <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                            </script><span style="display: none;">
                                This email address is being protected from spambots. You need JavaScript enabled to view it.
                                <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                </script>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Saraswathi Venkatasubban (Worship Chair)</td>
                        <td><span id="gc-number-4" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>
                            <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy64304 = 'w&#111;rsh&#105;p' + '&#64;';
 addy64304 = addy64304 + 'hsn&#101;f' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy64304 + '\'>');
 document.write(addy64304);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:worship@hsnef.org">worship@hsnef.org</a>
                            <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                            </script><span style="display: none;">
                                This email address is being protected from spambots. You need JavaScript enabled to view it.
                                <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                </script>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Saraswati Singh</td>
                        <td><span id="gc-number-5" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Kamal Parekh</td>
                        <td><span id="gc-number-6" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Yojana Shah</td>
                        <td><span id="gc-number-7" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>
                            <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy70782 = '&#101;d&#117;c&#97;t&#105;&#111;n' + '&#64;';
 addy70782 = addy70782 + 'hsn&#101;f' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy70782 + '\'>');
 document.write(addy70782);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:education@hsnef.org">education@hsnef.org</a>
                            <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                            </script><span style="display: none;">
                                This email address is being protected from spambots. You need JavaScript enabled to view it.
                                <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                </script>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Mayan Dave</td>
                        <td><span id="gc-number-8" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Ravi Kancha</td>
                        <td><span id="gc-number-9" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Nilesh Sutaria</td>
                        <td><span id="gc-number-10" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Rajendra Raj</td>
                        <td><span id="gc-number-11" class="gc-cs-link" title="Call with Google Voice">(904) 268-7630</span></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>

</div>