<div id="main">
    <section id="top" class="one">
            <iframe src="https://www.google.com/calendar/embed?title=Temple&amp;&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=hindutempleofjax%40gmail.com&amp;color=%23875509&amp;src=q5ic4qfr3kp9764u8fv2r5agts%40group.calendar.google.com&amp;color=%230F4B38&amp;src=e0ilv4cr7nvu3ra3n9jhld6np8%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="768" frameborder="0" scrolling="no"></iframe>
    </section>
</div>