<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one">
        <div class="container">

            <img src="~/images/splash.png" alt="" />

            <header>
                <h2 class="alt">
                    Hindu Society of North East Florida
                </h2>
            </header>
            <p>
                <h1><strong>Announcements</strong></h1>
                <p>HSNEF Celebrates Hanuman Jayanti (Click here for flyer)<br/>
                    Energize your Soul with Divine Energy of HanumanJi on his Birthday by reciting the powerful Hanuman Chalisa for 101 times with special Pooja, Hanuman Ashthak Path, Aarti, & Dinner/Prasad.    
                    <p>April 15th 2014<br/>
                    1 PM - 7:30 PM (HANUMAN CHALISA  101 RECITATIONS)<br/>
                    7:30-8pm Aarti<br/>
                        8pm onwards Dinner Prasad<br/>
                    </p>
                </p>
            </p>

            <footer>
                @Html.ActionLink("View Calendar", "Index", "Calendar", null, new { @class ="button"})
            </footer>
        </div>
    </section>
</div>