<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one">
        <div class="container">

            <img src="~/images/splash.png" alt="" />

            <header>
                <h2 class="alt">
                    Hindu Society of North East Florida
                </h2>
            </header>
        </div>
    </section>
</div>